@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

body{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #262626;
	overflow: hidden;
	width: 1000px;
	position: sticky;
	
}
p{
	font-size: 10px;
	text-align: center;
	line-height: 10px;
	background:url(mmk.jpg) no-repeat center center fixed;
	position: sticky;
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color:rgba(255,255,255,0);

	

      
      
}
